<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Coaching</title>
</head>
<body>
<form action="/VerifyEmail" method="GET">
    <label for="FRIST NAME">FRIST NAME :-</label>
    <input type="text" name="name"  required><br>
    <label for="SUR NAME">SUR NAME:-</label>
    <input type="text" name="sur_name" required><br>
    <label >GENDER:-</label>
    <label for="M">M:-</label>
    <input type="radio" name="gender" value="M">
    <label for="F">F:-</label>
    <input type="radio" name="gender" value="F" >
    <label for="OTHERS">OTHERS:-</label>
    <input type="radio" value="OTHERS" name="gender" required><br>
    <label for="aadhar">AADAR:-</label>
    <input type="number" name="adhar" required><br>
    <label for="address">ADDRESS:-</label>
    <textarea name="address"  ></textarea><br>
    <label for="email">EMAIL:-</label>
    <input type="email" name="email" required ><br>
    <label for="number">MOBILE NUMBER:-</label>
    <input type="tel" name="number" required ><br>
    <label for="pass">PASSWORD:-</label>
    <input type="password" name="pass" required><br>
    <label for="confirm_pass">CONFIRM PASSWORD:-</label>
    <input type="password" name="confirm_pass" required ><br>
    <input type="submit"/>
</form>
</body>
</html>